.triangle {
    width: 0;
    height: 0;
    border-left: 200px solid yellow;
    border-right: 200px solid green;
    border-bottom: 200px solid blue;
    border-top: 200px solid red;
    justify-content:center;
    display: inline-block;
}

h1 {
    text-align:center;
}

h2 {
    text-align:center;
}

div {
    text-align:center;
}